/* 全体の背景色 */
.stMainBlockContainer{
  background-color: #F6F6F6;
}
/* ヘッダーのスタイル */
.styled-header, .styled-header2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
}

.styled-header2 {
  margin: 10px 10px 0 10px;
}

/* センターテキストのスタイル */
.center-text {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  margin: 10px 5px;
  background-color: white;
}

/* 大きな数値表示のスタイル */
.large-number {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin: 0px 10px;
}

/* 大きな数値表示のスタイル */
.large-number-family {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin: 0px 10px;
  background-color: #F2F2E8;
}

/* 小さなテキストのスタイル */
.small-text {
  font-size: 24px;
  font-weight: normal;
}

/* 割合表示のスタイル */
.percentage-text {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: red;
  margin-top: 0;
}

/* カスタムコンテナ */
.custom-container {
  background-color: #F2F2E8; /* 背景色 */
  text-align: center;       /* テキストを中央揃え */
  margin: 0 10px;
  padding: 10px;
}

.record-container{
  padding: 10px; /* 内側の余白を追加 */
  margin-top: 15px; /* 下部の余白を広げる */
  border-radius: 5px;
  border: 1px solid #ddd; /* 薄い境界線を追加 */
}

.record {
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
  margin: 10px 0;
}

div[data-testid="stVerticalBlockBorderWrapper"]{
  margin: 0px 10px;
}
          
.stVerticalBlock > div[data-testid="stVerticalBlockBorderWrapper"]:last-child {
  background-color: #F2F2E8;
  margin: 0;
}

/* カラムのレスポンシブデザイン */
[data-testid="stColumn"] {
  width: calc(33.33% - 1rem) !important;
  flex: 1 1 calc(33.33% - 1rem) !important;
  background-color: #F2F2E8;
}
@media (max-width: 1500px) {
  [data-testid="stColumn"] {
      width: calc(33.33% - 1rem) !important;
  }
}
@media (max-width: 1350px) {
  [data-testid="stColumn"] {
      width: calc(50% - 1rem) !important;
  }
}
@media (max-width: 1250px) {
  [data-testid="stColumn"] {
      width: calc(100% - 1rem) !important;
  }
}

/* ツールバーやフッターの非表示 */
#MainMenu, header, footer, div[data-testid="stToolbar"], div[data-testid="stDecoration"] {
  visibility: hidden;
  height: 0;
  position: fixed;
}